//============================================================================//
// Define params
//============================================================================//

// Global input
//============================================================================//
params.in_files = "input/*fasta"
params.out_dir = 'output'
params.workflow = "colabfold" // options: colabfold, foldseek

// colabfold workflow inputs
//============================================================================//
// mmseqs
params.reference_fasta = ""

// colabfold
params.COLABFOLD_num_recycles = 3
params.COLABFOLD_stop_at_score = 70
params.COLABFOLD_stop_at_score_below = 40
params.COLABFOLD_num_models = 3


// foldseek workflow inputs
//============================================================================//
// foldseek
params.foldseek_database = ""
params.foldseek_fields = "query,target,fident,alnlen,mismatch,gapopen,qstart,qend,tstart,tend,evalue,bits,alntmscore"
params.foldseek_evalue = 0.001


//============================================================================//
// Process
//============================================================================//
profiles {

  sge {
      process {

            // Global setting
            executor = 'sge'
            penv = 'smp'
            clusterOptions = { '-V -S /bin/bash' }
            cache = 'lenient'
            //conda = "$baseDir/resources/conda/conda_linux.yml"

            // Error handling
            errorStrategy = 'retry'
            maxRetries = 2

            // resources
            withName: mmseqs2 {
              beforeScript = "module load Sali gcc/10.2.1 || true"
              time = { 1.h * task.attempt }
              memory = { 30.GB * task.attempt }
              cpus = { 5 * task.attempt }
              // queue = { task.time < 30.m ? "short.q" : "long.q" } - not needed in wynton
            }

            withName: colabfold {
              beforeScript = "module load Sali gcc/10.2.1 cuda/11.5.0  || true ; export CUDA_VISIBLE_DEVICES=\$SGE_GPU"
              time = { 119.m * task.attempt }
              memory = { 20.GB + 10.GB * task.attempt }
              cpus = 1
              queue = "gpu.q"
            }

            withName: foldseek {
              beforeScript = "module load Sali gcc/10.2.1  || true ; conda activate vpSAT"
              time = { 20.m * task.attempt }
              memory = { 20.GB + 10.GB * task.attempt }
              cpus = { 5 * task.attempt }
              conda = "$baseDir/resources/conda/conda_linux.yml"
            }
      }

      //============================================================================//
      // Misc settings
      //============================================================================//

      executor {
            // Let nextflow submit up to this many jobs in parallel at one time
            queueSize = 150
      }

      report {
            enabled = true
            file = "$params.out_dir/nf_information/pipeline_report.html"
      }

      timeline {
            enabled = true
            file = "$params.out_dir/nf_information/timeline.html"
          }

      trace {
            enabled = true
            file = "$params.out_dir/nf_information/trace.tsv"
      }

      conda {
            cacheDir = "/wynton/group/gladstone/users/jnomburg/software/nf_conda_envs"
      }

  } // this closes the sge profile


} // This closes the profiles section
